<html>
<head>
</head>
<body>
{% if message %}
    <p class="message"><strong>Message:</strong> {{message}}</p>
{% endif %}
{% if error %}
    <p class="error"><strong>Error:</strong> {{error}}</p>
{% endif %}



<h1>Welcome {{username}}</h1>
<li><a href="/upload">Upload an Image</a></li>
<li><a href="/images">View Images</a></li>
<li><a href="/closeFriendGroups">Edit CloseFriend Groups</a></li>
<li><a href="/tagphoto">Tag a Photo</a></li>
<li><a href="/displayTags">Manage Your Tags</a></li>
<li><a href="/search">Search a Photo</a></li>
<li><a href="/show_like_photo">Like Photos</a></li>
<li><a href="/upload_followrequests">Manage Your Follows</a></li>
<li><a href="/friendrec">Friend Recommandations</a></li>
<li><a href="/newgroup">Create a New Close Friend Group</a></li>








<a href="/logout">Logout</a>
